.container {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: inherit;
}
.leftBlock {
  flex-basis: 15%;
}
.rightBlock {
  display: flex;
  flex-basis: 85%;
  flex-direction: column;
  padding: 10px 15px;
  gap: 15px;
}
